{% form_theme form ':form:bootstrap_3_layout.html.twig' %}
<!DOCTYPE html>
<html lang="lt">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}{% endblock %} LiuKS Kicker</title>

        {% block stylesheets %}{% endblock %}
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
