{% extends '::base.html.twig' %}

{% block title %}Stalo pasirinkimas |{% endblock %}

{% block body %}
    <main>
        <div id="closest-tables" data-url="{{ url('users_closest_table') }}"></div>
    </main>
{% endblock %}

{% block javascripts %}
    {% javascripts '@LiuksUserBundle/Resources/public/locator.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}