<script id="tournament-script">
    "use strict";
    jQuery(document).ready(function ($)
    {
        var data = JSON.parse('{{ data|raw }}');
        var $tournament = $('#tournament');
        var $play = $('.play');
        if (typeof data != "undefined" && data != null && $tournament.length != 0)
        {
            $tournament.bracket({
                init: data
            });
        }
        else if (typeof $play.length != 0)
        {
            $('#create_popup').fancybox({});

            $('body').on('click', '#create_team, .play', function (e)
            {
                e.preventDefault();
                var $this = $(this);
                var $team_form = $this.siblings('#team_name');
                var team_name = $team_form.find('input').val();
                console.log(team_name);

                if (typeof team_name != "undefined")
                {
                    if (team_name.length < 2 || team_name.length > 50)
                    {
                        $team_form.addClass('has-error');
                        $team_form.find('.help-block').html('Blogas komandos pavadinimo ilgis.').removeClass('hidden');
                        team_name = 0;
                    }
                }

                if (team_name !== 0)
                {
                    $.fancybox.close();
                    $.ajax({
                        method: 'POST',
                        url: $this.attr('data-url'),
                        data: {team: $this.attr('data-team'), team_name: team_name},
                        success: function (msg)
                        {
                            if (msg)
                            {
                                $('#tournament-info').find('> div').html('<h3>Sveikinu! Jūs užsiregistravote į turnyrą.</h3>');
                            }
                            else
                            {
                                $('#tournament-info').find('> div').html('<h3>Įvyko klaida registruojantis į turnyrą.</h3>');
                            }
                        }
                    });
                }
            });
        }
    });
</script>