<script id="tournament-script">
    "use strict";
    $(document).ready(
            function ()
            {
                var $tournamentInfo = $('#tournament-info');
                var tournamentUrl = $tournamentInfo.attr('data-url');
                var tournamentDataUrl = $tournamentInfo.attr('data-dataurl');
                var $tournament = $('#tournament');
                var $play = $('.play');
                loadTournamentInfo();
                setInterval(
                        function ()
                        {
                            $.ajax(
                                    {
                                        url: tournamentDataUrl
                                    }
                            );
                            $tournamentInfo.load(
                                    tournamentUrl + " #tournament-info>div", function ()
                                    {
                                        loadTournamentInfo();
                                    }
                            );
                        }, 10000
                );

                function loadTournamentInfo()
                {
                    $tournament = $('#tournament');
                    $play = $('.play');
                    if ($tournament.length != 0) {
                        loadTournament();
                    }
                    else if ($play.length != 0) {
                        $('#create_popup').fancybox({});

                        $('body').on(
                                'click', '#create_team, .play', function (e)
                                {
                                    e.preventDefault();
                                    var $this = $(this);
                                    var $team_form = $this.siblings('#team_name');
                                    var team_name = $team_form.find('input').val();

                                    if (typeof team_name != "undefined") {
                                        if (team_name.length < 2 || team_name.length > 50) {
                                            $team_form.addClass('has-error');
                                            $team_form.find('.help-block').html('Blogas komandos pavadinimo ilgis.').removeClass('hidden');
                                            team_name = 0;
                                        }
                                    }

                                    if (team_name !== 0) {
                                        $.fancybox.close();
                                        $.ajax(
                                                {
                                                    method: 'POST',
                                                    url: $this.attr('data-url'),
                                                    data: {team: $this.attr('data-team'), team_name: team_name},
                                                    success: function (msg)
                                                    {
                                                        if (msg) {
                                                            $('#tournament-info').find('> div').html('<h3>Sveikinu! Jūs užsiregistravote į turnyrą.</h3>');
                                                        }
                                                        else {
                                                            $('#tournament-info').find('> div').html('<h3>Įvyko klaida registruojantis į turnyrą.</h3>');
                                                        }
                                                    }
                                                }
                                        );
                                    }
                                }
                        );
                    }
                }


                function loadTournament()
                {
                    $tournament = $('#tournament');
                    var data = JSON.parse($tournament.attr('data-data'));
                    $tournament.bracket(
                            {
                                init: data
                            }
                    );
                }
            }
    );
</script>