<script id="tournament-script">
    jQuery(document).ready(function($){
        var data = JSON.parse('{{ data|raw }}');
        var results = $.extend(true, [], data['results']);
        var teams = $.extend(true, [], data['teams']);
//        var teams = data['teams'].slice(0);
//        var t = teams[0].slice(0);
        var $tournament = $('#tournament');
        var $play = $('.play');
        if (typeof data != "undefined" && data != null && $tournament.length != 0)
        {
            function saveFn(newData, url)
            {
                var changed = !results.equals(newData['results'].filterEmpty()) ? 'results' : !teams.equals(newData['teams']) ? 'teams' : 0;
                if (changed)
                {
                    $.ajax({
                        url: url,
                        method: 'POST',
                        data: {json: JSON.stringify(newData[changed]), changed: changed},
                        success: function(msg)
                        {
                            console.log(msg);
                            $tournament.siblings('p').remove();
                            if (msg == 'success')
                            {
                                results = $.extend(true, [], data['results']);
                                teams = $.extend(true, [], data['teams']);
                                $tournament.before('<p class="alert alert-success">Turnyro pakeitimai išsaugoti.</p>');
                            }
                            else
                            {
                                $tournament.before('<p class="alert alert-danger">Įvyko klaida saugant pakeitimus.</p>');
                            }
                        }
                    });
                }
                else
                {
                    $tournament.siblings('p').remove();
                    $tournament.before('<p class="alert alert-warning">Pakeitimų nerasta.</p>');
                }
            }

            $tournament.bracket({
                init: data,
                save: saveFn,
                userData: $tournament.attr('data-url')
            });
        }
        else
        if (typeof $play.length != 0)
        {
            $play.on('click', function(e)
            {
                e.preventDefault();
                $.ajax({
                    method: 'POST',
                    url: $(this).attr('data-url'),
                    data: {team: $(this).attr('data-team')},
                    success: function(msg)
                    {
                        if (msg)
                        {
                            $('#tournament-info').find('> div').html('<h3>Sveikinu! Jūs užsiregistravote į turnyrą.</h3>');
                        }
                    }
                });
            });
        }
    });
</script>