<script id="tournament-script">
    "use strict";
    $(document).ready(
            function ()
            {
                var $tournamentInfo = $('#tournament-info');
                var tournamentUrl = $tournamentInfo.attr('data-url');
                var tournamentDataUrl = $tournamentInfo.attr('data-dataurl');
                var $tournament = $('#tournament');
                var $play = $('.play');
                var results, teams;
                loadTournamentInfo();
                setInterval(
                        function ()
                        {
                            $.ajax(
                                    {
                                        url: tournamentDataUrl
                                    }
                            );
                            $tournamentInfo.load(
                                    tournamentUrl + " #tournament-info>div", function ()
                                    {
                                        loadTournamentInfo();
                                    }
                            );
                        }, 10000
                );

                function loadTournamentInfo()
                {
                    $tournament = $('#tournament');
                    $play = $('.play');
                    if ($tournament.length != 0) {
                        loadTournament();
                    }
                    else if ($play.length != 0) {
                        $('#create_popup').fancybox({});

                        $('body').on(
                                'click', '#create_team, .play', function (e)
                                {
                                    e.preventDefault();
                                    var $this = $(this);
                                    var $team_form = $this.siblings('#team_name');
                                    var team_name = $team_form.find('input').val();

                                    if (typeof team_name != "undefined") {
                                        if (team_name.length < 2 || team_name.length > 50) {
                                            $team_form.addClass('has-error');
                                            $team_form.find('.help-block').html('Blogas komandos pavadinimo ilgis.').removeClass('hidden');
                                            team_name = 0;
                                        }
                                    }

                                    if (team_name !== 0) {
                                        $.fancybox.close();
                                        $.ajax(
                                                {
                                                    method: 'POST',
                                                    url: $this.attr('data-url'),
                                                    data: {team: $this.attr('data-team'), team_name: team_name},
                                                    success: function (msg)
                                                    {
                                                        if (msg) {
                                                            $('#tournament-info').find('> div').html('<h3>Sveikinu! Jūs užsiregistravote į turnyrą.</h3>');
                                                        }
                                                        else {
                                                            $('#tournament-info').find('> div').html('<h3>Įvyko klaida registruojantis į turnyrą.</h3>');
                                                        }
                                                    }
                                                }
                                        );
                                    }
                                }
                        );
                    }
                }

                function loadTournament()
                {
                    $tournament = $('#tournament');
                    var data = JSON.parse($tournament.attr('data-data'));
                    results = $.extend(true, [], data['results']);
                    teams = $.extend(true, [], data['teams']);
                    $tournament.bracket(
                            {
                                init: data,
                                save: saveFn,
                                userData: $tournament.attr('data-url')
                            }
                    );
                }

                function saveFn(newData, url)
                {
                    console.log(results.equals(newData['results'].filterEmpty()));
                    var changed = !results.equals(newData['results'].filterEmpty()) ? 'results' : !teams.equals(newData['teams']) ? 'teams' : 0;
                    if (changed !== 0) {
                        $.ajax(
                                {
                                    url: url,
                                    method: 'POST',
                                    data: {json: JSON.stringify(newData[changed]), changed: changed},
                                    success: function (msg)
                                    {
                                        console.log(msg);
                                        $tournament.siblings('p').remove();
                                        if (msg == 'success') {
                                            results = $.extend(true, [], data['results']);
                                            teams = $.extend(true, [], data['teams']);
                                            $tournament.before('<p class="alert alert-success">Turnyro pakeitimai išsaugoti.</p>');
                                        }
                                        else {
                                            $tournament.before('<p class="alert alert-danger">Įvyko klaida saugant pakeitimus.</p>');
                                        }
                                    }
                                }
                        );
                    }
                    else {
                        $tournament.siblings('p').remove();
                        $tournament.before('<p class="alert alert-warning">Pakeitimų nerasta.</p>');
                    }
                }
            }
    );
</script>