.teamContainer .label {
    color: inherit;
}

.jQBracket .tools .doubleElimination {
    display: none;
}

.fancybox-lock .fancybox-overlay {
    overflow-y: hidden;
}

.fancybox-inner h4 {
    margin: 0;
}

.label-primary {
    background-color: #1ABC9C;
}

.form-inline select.form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

h1 small, h2 small, h3 small,
h4 small, h5 small, h6 small {
    color: #95A5A6;
    display: block;
}

div.jQBracket {
    left: -10px;
}

div.jQBracket .tools {
    left: 5px;
}

div.jQBracket .tools span {
    line-height: 18px;
}

div.jQBracket .team.win div.score {
    color: #27AE60;
}

div.jQBracket .team.lose div.score {
    color: #C0392B;
}

div.jQBracket .highlightWinner .bubble {
    background-color: #F1C40F;
}

div.jQBracket .highlightLoser .bubble {
    background-color: #BDC3C7;
}

div.jQBracket .team div.label {
    white-space: normal;
    height: 30px;
    width: 80px;
}

.navbar {
    border-radius: 0;
    margin: 0;
    border-bottom: #e5e9ea 2px solid;
}

.navbar .navbar-brand {
    padding-left: 15px;
}

.navbar ul.nav li a {
    padding: 15px 19px;
}

body {
    min-height: 100vh;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    display: flex;
    flex-direction: column;
    font-family: Helvetica, Arial, sans-serif;
}

main {
    flex: 1;
    -webkit-flex: 1;
}

.panel-heading {
    background-color: #ecf0f1;
    border-bottom: #e5e9ea 2px solid;
    border-radius: 0;
    margin-bottom: 0;
}

footer {
    height: auto;
    text-align: center;
    background-color: #ecf0f1;
    border-top: #e5e9ea 2px solid;
    padding-top: 10px;
    width: 100%;
}

#actions {
    margin-bottom: 1em;
}

#actions > div {
    padding: 0;
}

#actions a, #actions button {
    border-radius: 0;
}

#tournament {
    margin-bottom: 70px;
    padding: 10px 0;
}

#join_tournament a {
    padding: 15px;
    text-align: center;
    min-height: 160px;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#join_tournament a:not(.play) p {
    font-size: 10pt;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

#join_tournament a:not(.play) {
    font-size: 40pt;
    line-height: 140px;
}

#game {
    background-color: #2ECC71;
    color: #ffffff;
    padding: 1em;
    margin-bottom: 25px;
    margin-left: -15px;
    margin-right: -15px;
}

#game .scores .row {
    display: flex;
    align-items: center;
}
@media (min-width: 768px) {
    #actions {
        margin-bottom: 2em;
    }
    #game .row {
        display: flex;
        align-items: center;
    }

    .page-content.row, #actions.row {
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 768px) {
    .page-content-table {
        padding-left: 0;
        padding-right: 0;
    }

}

#game .scores .score {
    font-size: 80px;
    font-weight: 700;
    line-height: 1.1;
}

.sortable-table .header {
    cursor: pointer;
}

.sortable-table .header:after {
    font-family: "FontAwesome", serif;
    font-size: 11pt;
    content: "\f0dc";
    line-height: 1;
    margin-left: 5px;
    display: inline-block;
}

.sortable-table .header.headerSortUp:after {
    content: "\f0dd";
}

.sortable-table .header.headerSortDown:after {
    content: "\f0de";
}

html {
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

html.loader {
    background: #333 url('img/fancybox_loading.gif') no-repeat 50% 50%;
    -webkit-transition: background-color 0s;
    transition: background-color 0s;
}


body {
    -webkit-transition: opacity 1s ease-in;
    transition: opacity 1s ease-in;
}
html.loader body {
    opacity: 0.3;
    -webkit-transition: opacity 0s;
    transition: opacity 0s;
}