.teamContainer .label {
    color: inherit;
}

.jQBracket .tools .doubleElimination {
    display: none;
}

.fancybox-lock .fancybox-overlay {
    overflow-y: hidden;
}

.fancybox-inner h4 {
    margin: 0;
}

.label-primary {
    background-color: #1ABC9C;
}

.form-inline select.form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

h1 small, h2 small, h3 small,
h4 small, h5 small, h6 small {
    color: #95A5A6;
    display: block;
}

div.jQBracket {
    left: -10px;
}

div.jQBracket .tools {
    left: 5px;
}

div.jQBracket .tools span {
    line-height: 18px;
}

div.jQBracket .team.win div.score {
    color: #27AE60;
}

div.jQBracket .team.lose div.score {
    color: #C0392B;
}

div.jQBracket .highlightWinner .bubble {
    background-color: #F1C40F;
}

div.jQBracket .highlightLoser .bubble {
    background-color: #BDC3C7;
}

div.jQBracket .team div.label {
    white-space: normal;
    height: 30px;
    width: 80px;
}

.navbar {
    border-radius: 0;
    margin: 0;
    border-bottom: #e5e9ea 2px solid;
}

.navbar .navbar-brand {
    padding-left: 15px;
}

body {
    min-height: 100vh;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    -webkit-flex: 1;
}

.panel-heading {
    background-color: #ecf0f1;
    border-bottom: #e5e9ea 2px solid;
    border-radius: 0;
    margin-bottom: 0;
}

footer {
    height: auto;
    text-align: center;
    background-color: #ecf0f1;
    border-top: #e5e9ea 2px solid;
    padding-top: 10px;
    width: 100%;
}

#actions > div {
    padding: 0;
}

#actions a, #actions button {
    border-radius: 0;
}

#tournament {
    margin-bottom: 50px;
}

#join_tournament a {
    padding: 15px;
    text-align: center;
    min-height: 160px;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#join_tournament a:not(.play) p {
    font-size: 10pt;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

#join_tournament a:not(.play) {
    font-size: 40pt;
    line-height: 140px;
}

#game {
    background-color: #2ECC71;
    color: #ffffff;
    padding: 1em;
    margin-bottom: 25px;
}

#game .scores .row {
    display: flex;
    align-items: center;
}

@media (min-width: 768px) {
    #game .row {
        display: flex;
        align-items: center;
    }

    .page-content.row, #actions.row {
        margin-left: 0;
        margin-right: 0;
    }
}

#game .scores .score {
    font-size: 80px;
    font-weight: 700;
    line-height: 1.1;
}