{% extends '::base.html.twig' %}

{% block body %}
    <main>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {{ render(controller('LiuksTableBundle:Table:defaultTableShow', { 'id': app.user.defaultTable.id })) }}
        {% else %}
            {{ render(controller('LiuksTableBundle:Table:defaultTableShow', { 'id': 1 })) }}
        {% endif %}
    </main>
{% endblock %}

{% block javascripts %}
    {% javascripts
    '@LiuksTableBundle/Resources/public/current_table_tournament.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}